.details-main-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px aqua solid;
    border-radius: 20px;
    margin: 20px;
}

.details-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-bg .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    color: white;
}

.details-bg .image img{
    border-radius: 20px;
}

